# top-most EditorConfig file
root = true

# General Settings

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

# C# (.NET SDK) Styling Settings

[*.cs]
file_header_template = Copyright (c) Ame (Akeoott) <ame@akeoot.org>. Licensed under the GPLv3 License.\nSee the LICENSE file in the repository root for full license text.

dotnet_diagnostic.IDE0073.severity = error
csharp_style_namespace_declaration = file_scoped:suggestion

dotnet_separate_import_directive_groups = true
csharp_style_using_directive_placement = outside_namespace:suggestion

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_preserve_single_line_blocks = true

# Python Styling Settings

[*.py]
indent_style = space
indent_size = 4

# Markdown and Text Files

[*.{md,txt}]
trim_trailing_whitespace = true
insert_final_newline = false

# Indent style for other files

[*.{csproj,resx,xml}]
indent_style = space
indent_size = 2
