@layer base {
  body {
    color: var(--color-text);
    line-height: 1.6;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  a {
    @apply text-primary underline;
    @apply hover:text-white;
  }

  h1 {
    @apply mb-2 text-[2.8rem] font-bold text-shadow-primary;
  }

  h2 {
    @apply relative inline-block mb-6 text-[1.8rem] font-bold text-primary;
  }

  h3 {
    @apply pb-3 font-bold;
  }
}